*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tout {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.block_right {
  display: grid;
}

.block_left {
  display: grid;
}

.barre {
  width: 10px;
}

.toto {
}

.toto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50px 50px:
}

.sac1 {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.sac2 {
  display: grid;
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}

.sac3 {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}

.sac4 {
  display: grid;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.toto2 {
}

.toto3 {
  font-size: 20px;
}

.level_circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50%;
}

.level_circle.active {
  background-color: blue;
}

.toto3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.level_container {
  display: inline-flex;
}
.barre{

}

h2 {
  margin-top: 2vh;
  margin-bottom: 3vh;
}
